@media (max-width: 768px){

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: white;
    line-height: 1.6;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
  }
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
} 
button{
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #f7a01b;
    color: pointer;
    transform: 0.5s;
}
button:hover{
    color:#b97c18 ;
    
}
a:hover{
    color: #f7a01b;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
} 
section h1{
    font-size: 32px;
    color: #f7a01b;
}

.hero {
  background-image: url('img/food9.jpeg'); /* نحط الصورة كخلفية */
  background-size: cover; /* نخلي الصورة تغطي كل المساحة */
  background-position: center; /* الصورة تبقى في النص */
  background-repeat: no-repeat;
  height: 100vh; /* نخلي ارتفاع السيكشن قد ارتفاع الشاشة */
  position: relative; /* علشان نقدر نضيف overlay والكلام */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
}
/* ده بيضيف طبقة غامقة فوق الصورة عشان الكلام يبان */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* درجة الغمقان */
  z-index: 0;
}
.hero-text {
  position: relative; /* عشان الكلام يبان فوق الطبقة الغامقة */
  z-index: 1;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: orange;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
}

.btn {
  background-color: orange;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
  .hero-imge img {
    width: 400px;
    border-radius: 10px;
  }
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .hero-text p {
    margin-bottom: 20px;
    color: #ccc;
  }
  .logo{
    color: #f7a01b;
    font-size: 30px;
  }
  div a{
    border: 1px;
    background-color: #f7a01b;
    border-radius: 5px;
    margin: auto;
    padding: 10px 15px;
    transition: 0.5s;
  }
  div a:hover{
    color: #b97c18;
  }