/* Reset أساسي */
* {
    margin: 0;/*يشيل المسافات الخارجية لكل العناصر.*/
    padding: 0;/*بيشيل المسافات الداخليه لكل العناصر*/
    box-sizing: border-box;/* نخلي حجم العنصر يشمل البادينج والبوردر معاه */
  }
  
  body {
    font-family: 'Arial', sans-serif;/* بنختار نوع الخط اللي هيظهر في الصفحة.*/
    color: rgb(155, 17, 17);/*خلي النص لونه أبيض عشان يكون واضح على الخلفية الغامقة*/
  }
  
  /* ================= NAVBAR ================= */
.navbar{
    display: flex;/*بيخلي العناصر يترتبوا جنب بعض (اللوجو,اللينكات,الزرار )*/

    justify-content: space-between;/*بيعمل مسافه بين العناصر بحيث يكون اللوجو علي اليمين واللينكات والزرار ع الشمال */

    align-items: center;/*بيخلي العناصر تتوسط راسيا ع نفس الخط  بظبط*/

    padding: 20px 45px;/*بيدي مسافة داخلية حوالي 20px فوق وتحت، و50px يمين وشمال.*/

    background-color: rgba(0,0,0,0.5);/*لون خلفية شفاف رمادي غامق (شفاف بنسبة 50%).*/
    color: white;
    position: relative;/*علشان ممكن بعدين نستخدمه مع عناصر تتحرك فوقه.*/
    z-index: 1000;/*بيخلي الـ navbar يبان فوق أي عناصر تانية.*/


}
.navbar .logo{
    font-size: 39px;/*بيكبر حجم الخط بتاع اللوجو*/
    font-weight: bold;/*بيخلي الخط سميك*/
    color: orange;/*لون اللوجو برتقالي*/
}
.nav-links{
    display: flex;/*ده عشان الينكات كلها تبقي جنب بعض*/
    gap: 50px;/*يعمل مسافه بين اللينكات عشان متكنش لازقه ي بعض*/
    list-style: none;/*بيشيل النقط الي بتظهر قدام العناصر*/
}
.nav-links a{
    text-decoration: none;
    color: white;
}

  
  



 

     